<!DOCTYPE HTML>
<html lang="fr-FR">
<head>
{% include head.html %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style type="text/css">
@media only screen and (max-width:480px) {
    .m-fullw {
        display: block;
        width: 300px!important;
    }

    .m-full-img,
    .m-full {
        display: block;
        width: 100%!important;
    }

    .m-full-img {
        margin-bottom: 10px;
    }

    .m-hide {
        display: none!important;
    }
}
</style>
</head>
<body style="padding:0;margin:0;background-color:#f0f0f0;">
