---
layout: default
---

<!-- Main Container start -->
<div style="padding:0;background-color:#f0f0f0;">
<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="background-color:#f0f0f0;">
    <tr><td height="20"></td></tr>
    <tr><td align="center"><a href="https://github.com/darklg/MailHTML" style="font:11px sans-serif;color:#999;">See this email in a web browser</a></td></tr>
    <tr><td height="20"></td></tr>
    <tr><td align="center">
        <!-- Main Content start -->
        <table border="0" cellspacing="0" cellpadding="0" width="600" style="background-color:#fefefe;">
            <tr><td colspan="3" height="10"></td></tr>
            <tr><td width="10"></td><td width="580" align="left" style="font:13px/1.3 sans-serif;">

{% include blocks/title-link.html %}
{% include blocks/hero.html %}
{% include blocks/text-image.html %}
{% include blocks/image-text.html %}
{% include blocks/two-columns.html %}
{% include blocks/three-columns.html %}

            <!-- Main Content end -->
            </td><td width="10"></td></tr>
        </table>


    <!-- Main Container end -->
    </td></tr>
    <tr><td height="20"></td></tr>
    <tr><td align="center" style="font:11px sans-serif;color:#999;">Do you want to <a href="https://github.com/darklg/MailHTML" style="color:#999;">Unsubscribe</a> ?</td></tr>
    <tr><td height="20"></td></tr>
</table>
</div>
