---
layout: default
---

{% include components/strate-top.html bgcolor="#f0f0f0" margin=10 width=600 %}
<div style="padding:10px 0;">
    {% include blocks/title-link.html %}
    {% include blocks/hero.html %}
</div>
{% include components/strate-bottom.html %}


{% include components/strate-top.html bgcolor="#ffffff" margin=10 width=600 %}
<div style="padding:10px 0;">
    {% include blocks/text-image.html %}
    {% include blocks/image-text.html %}
    {% include blocks/two-columns.html %}
    {% include blocks/three-columns.html %}
</div>
{% include components/strate-bottom.html %}

{% include components/strate-top.html bgcolor="#f0f0f0" margin=10 width=220 %}
<div style="padding:10px 0;">
    <img src="http://placekitten.com/200/160" alt="" />
</div>
{% include components/strate-bottom.html %}
